/* Estilos generales */
.container {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
}


body {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    text-align: center;
    /*background-color: #f8f4f4;*/
    width: 100%;
    overflow-x: hidden;
    color: #000000;
}

/* Estilo para los títulos de secciones */
.section-title {
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 700;
    /*color: #000000;*/
    letter-spacing: 1px;
}

/* Estilo general para los botones */
.button-style {
    background-color:  #dfcff880; /* Beige más oscuro en su estado normal */
    color: #000000;/* Texto oscuro para contraste */
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 12px 30px;
    border: none; /* Sin contorno */
    border-radius: 50px; /* Forma circular */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

/* Efecto hover */
.button-style:hover {
    background-color: #a78cd39a /* Un tono más oscuro al pasar el cursor */
}

/* Estilo para los textos descriptivos */
.description-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
}

/* Aplica un efecto de difuminado solo en los bordes */
.watercolor-effect {
    display: block;
    margin: auto;
    max-width: 100%;
}

/* ===== IMÁGENES DE CEREMONIA Y CELEBRACIÓN ===== */
.celebration-container img,
.ceremony-container img {
    width: 100%; /* Se ajusta al ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    max-width: 550px; /* Límite de tamaño en pantallas grandes */
    display: block;
    margin: 0 auto;
}


/* Sección de bienvenida */
.hero {
    background: url('media/fondo-1.png') no-repeat center center/cover;
    text-align: center;
    width: 90%;
}

.hero img{
    margin-top: -50px;
}


/* Estilo del Reproductor de Música */
.music-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.music-player:hover {
    transform: scale(1.1);
}

/* Botón de Música */
#music-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#music-icon {
    width: 25px;
    height: 25px;
    transition: opacity 0.3s ease-in-out;
}




/* Seccion cuenta atras */
/* Fecha "20.09.2025" - Estilo elegante */
.wedding-date {
    font-family: 'Oranienbaum', 'serif';
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 2px;
    margin-top: 5px;
}

.wedding-date-letter{
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 2px;
    margin-top: 5px;
}

/* Contenedor del Calendario */
.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Estilo de la Imagen del Calendario */
.calendar-icon {
    width: 80px; /* Ajusta el tamaño según necesidad */
    opacity: 0.8; /* Suaviza el color */
}

@keyframes blink {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.5; transform: scale(1.1); }
    100% { opacity: 1; transform: scale(1); }
}

.calendar-blink {
    animation: blink 0.8s ease-in-out infinite;
}


/* Cuenta regresiva */
/* Sección de la cuenta regresiva */
.countdown-section {
    text-align: center;
    padding: 20px;
    background: url('media/fondo-1.png') no-repeat center center/cover;
    padding: 40px 20px;
    text-align: center;
    width: 90%;
}

/* Contenedor de la cuenta regresiva */
.countdown {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Cada caja de tiempo */
.time-box {
    text-align: center;
}

/* Números grandes y estilizados con la misma estética que la fecha */
.time-box span {
    font-family: 'Oranienbaum', 'serif';
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 2px;
}

/* Etiquetas de tiempo (Días, Hrs, Mins, Segs) */
.time-box p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1px;
    margin-top: 5px;
}

/* Boton guardar fecha */
/* Contenedor para centrar el botón */
.save-date-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* Sección de Foto Pareja */
.photo-section {
    /*background-color: #f5f3ef; /* Beige claro */
    text-align: center;
    /*padding: 40px 20px;*/
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('media/fondo-1.png') no-repeat center center/cover;
}

/* Contenedor redondo */
.photo-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

/* Imagen de la pareja */
.couple-photo {
    width: 100%;
    height: 100%;

}

/* Título "Nos Casamos" */
.photo-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-top: -150px;
}

/* Frase romántica */
.photo-quote {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
    margin-top: -8px;
}



/* Sección de Detalles del Evento */
.details {
    /*background-color: #f5f3ef; /* Beige claro */
    text-align: center;
    padding: 40px 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('media/fondo-1.png') no-repeat center center/cover;
}

/* Contenedor de la ceremonia */
.celebration-container,
.ceremony-container {
    text-align: center;
    margin-bottom: 30px;
}

.ceremony-container img,
.celebration-container img {
    max-width: 610px; /* Ajusta el tamaño a uno menor */
}


/* Estilo general de secciones */
section {
    padding: 40px 20px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    background: url('media/fondo-1.png') no-repeat center center/cover;
}

/* Mapa */
/* Ajuste de tamaño uniforme para los mapas */
.map iframe {
    width: 100%;
    max-width: 600px; /* Tamaño fijo para ambos */
    height: 350px; /* Altura uniforme */
    display: block;
    margin: auto;
    border-radius: 10px;
}

.celebration{
    text-align: center;
    padding: 40px 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Asistencia */
.asistencia{
    /*background-color: #f5f3ef; /* Beige claro */
    text-align: center;
    padding: 40px 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para los enlaces de teléfono */
.phone-link {
    text-decoration: none; /* Quita el subrayado */
    transition: color 0.3s;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    color: #000000;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
}

.phone-link:hover {
    color: #b590f186;/* Cambio de color en hover */
}

/* Asegurar que no cambie de color al hacer clic */
.phone-link:visited,
.phone-link:active {
    color: #000000; /* Mantiene el color original */
    text-decoration: none;
}



/* Sección de Regalo */
.regalo {
    text-align: center;
    padding: 40px 20px;
    width: 90%;
    margin: 0 auto;
    /*background: url('media/fondo-1.png') no-repeat center center/cover;*/
}

/* Contenedor del regalo */
.gift-container {
    text-align: center;
    margin-bottom: 30px;
}

.gift-container img{
    margin-top: -70px;
    margin-bottom: -70px;

}

/* Imagen del regalo */
.gift-image {
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#iban{
    font-family: 'Oranienbaum', 'serif';
}


/* Estilos generales para la sección de autobuses */
.bus-service {
    /*background-color: #f5f3ef; /* Beige claro */
    padding: 40px 20px;
    text-align: center;
    /*border-radius: 10px;*/
    width: 90%;
}

/* Estilo de cada trayecto */
.bus-trip {
    margin: 10px 0;
    padding: 10px;
    text-align: center; /* Centrar contenido */
}


/* Etiquetas de origen y destino */
.bus-label {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-bottom: -10px;
}

.bus-location {
    font-size: 20px;
    color:#000000;
    /*margin-bottom: 5px;*/
    margin-bottom: -10px;
}

/* Estilo del horario */
.bus-time-label {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-bottom: -10px;
}

.bus-time {
    font-size: 20px;
    color: #000000;
}

/* Línea divisoria entre los trayectos */
.bus-divider {
    width: 60%;
    height: 1px;
    background-color: #d2bef3c4;
    border: none;
    margin: 7px auto;
}

/* Contenedor del icono y la palabra "IDA" / "VUELTA" */
.bus-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrado horizontal */
    gap: 0px; /* Espacio entre el icono y el texto */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Icono de ubicación con color exacto `#d2bef3` */
.bus-icon-image {
    width: 45px; /* Ajusta el tamaño según necesites */
    height: auto;
    filter: brightness(0) saturate(100%) invert(67%) sepia(10%) saturate(900%) hue-rotate(210deg); /* Aplica color #d2bef3 */
    opacity: 0.6; /* Un poco de transparencia para suavidad */
}


/* Texto "IDA" y "VUELTA" en el mismo tono */
.bus-label-ida,
.bus-label-vuelta {
    font-size: 22px;
    font-weight: bold;
    color: #d2bef3; /* Exacto mismo color */
    text-transform: uppercase;
    margin-top: 25px;
}


/* Hoteles */
.hotel {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #d2bef3c4; /* Beige en los bordes */
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #f8f5f1; /* Blanco roto */
    color: #000000; /* Texto más visible */
    max-width: 400px;
}

.hoteles{
    padding: 40px 20px;
    text-align: center;
    width: 90%;
}



/* Álbum de fotos */
.album-image {
    width: 120px;
    margin: 5px auto;
}

.album{
    /*background-color: #f5f3ef; /* Beige claro */
    text-align: center;
    padding: 40px 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Sección galería*/
/* GALERÍA */
.gallery-container {
    position: relative;
    max-width: 400px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: none;
    border-radius: 10px;
}

/* Botones de navegación */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #d2bef3c4;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.event-time,
.numeros{
    font-family: 'Oranienbaum', 'serif';
}

.final{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-top: 15px;
}


.final-nombres{
    color:#d2bef3;
}

#logo_final{
    width: 120px;
    height: 120px;
    margin-top: -20px;
    margin-bottom: -20px;
}